__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.git
.gitignore
.dockerignore
docker-compose.yml
Dockerfile
.DS_Store
*.db
*.sqlite3
.env
.env.local
.idea/
.vscode/
*.log
node_modules/
apps/static/assets/node_modules/
test_*.py
